jsons==1.6.1
keyboard==0.13.5
pretty-downloader==0.1.0
PySimpleGUI==4.56.0
pystray==0.19.2
Pillow==9.0.0
pywin32==303
PyYAML==6.0
watchdog==2.1.6
inject==4.3.1
winregal==1.0.1
hurry.filesize==0.9
natsort==8.0.2
